.vscode/**
.vscode-test/**
.git/**
.gitignore
.idea/**
.claude/**
.sdlc/**
.wechat/**
node_modules/**
out/**
src/**
example/**
tsconfig.json
esbuild.js
eslint.config.mjs
.yarnrc
vsc-extension-quickstart.md
**/*.map
**/*.ts
**/.vscode-test.*
*.vsix
pnpm-lock.yaml
package-lock.json
